type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  id: 5a574eb90cf27bf1440526ff
  name: tltranstudentvunl-dev
  displayName: t.l.tran@student.vu.nl (dev)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/5a574eb90cf27bf1440526ff'
  externalOrgId: 2d230889-cfa1-48be-8927-1e22210a6903
  externalInviteOverride: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:us-south'
  externalSpaceId: 2d230889-cfa1-48be-8927-1e22210a6903
  externalNativeOrgId: 379c4ff1-f1ef-4aba-a954-b211ca595fdf
  bluemix:
    inviteUri: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:us-south'
    organization: 379c4ff1-f1ef-4aba-a954-b211ca595fdf
    space: 2d230889-cfa1-48be-8927-1e22210a6903
catalog:
  id: 5a574eba0cf27bf14405270b
  orgId: 5a574eb90cf27bf1440526ff
  name: Sandbox
  shortName: sb
  owner:
    id: 5a574eb70cf27bf1440526fc
    username: k.karas@student.vu.nl
    context: apimanager
    idpId: 58341db4e63b1219f0f068d1
    email: k.karas@student.vu.nl
    firstName: ''
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2018-01-20T16:59:03.281+0000'
    url: 'https://us.apiconnect.ibmcloud.com/v1/users/5a574eb70cf27bf1440526fc'
  apiCenter: false
  portalType: BASIC
  portalUrl: 'https://developer.us.apiconnect.ibmcloud.com/tltranstudentvunl-dev/sb'
  advPortalUrl: 'https://sb-tltranstudentvunl-dev.developer.us.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  gwServices:
    - id: PRODAPIC_APIMGMT_GATEWAY
      endpointUrl: 'https://api.us.apiconnect.ibmcloud.com/tltranstudentvunl-dev/sb'
  idp: 5a574ebc0cf27bf14405270c
  idps:
    - 5a574ebc0cf27bf14405270c
  availableRoles:
    - developer
    - viewer
  default: false
  autoDeploy: true
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5a574ebc0cf27bf144052714
  testAppEnabled: true
  testAppCredentials:
    clientId: eb4ea9ba-bd16-4789-bfd5-56620abc3d43
    clientSecret: rD5lP8gW5qL4jB7fK7aS7dF0rP6nK4xD5fI2sO6bB4jW8eJ1tH
  createdAt: '2018-01-11T11:47:08.406+0000'
  updatedAt: '2018-01-11T11:47:08.406+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: apim-ops@wwpdl.vnet.ibm.com
  url: >-
    https://us.apiconnect.ibmcloud.com/v1/orgs/5a574eb90cf27bf1440526ff/environments/5a574eba0cf27bf14405270b
  applicationLifecycleEnabled: false
  productDeploymentApprovalRequiredStates: []
  orgName: tltranstudentvunl-dev
space:
  none: true
app:
  metadata:
    guid: 63eefea2-6629-4aa7-9389-c69d2678db84
  entity:
    guid: 63eefea2-6629-4aa7-9389-c69d2678db84
    name: cloudant-api
    routes:
      - guid: 0e8df9b3-c631-4e09-8fdf-363317da1711
        host: apiconnect-f388fb2d-432d-429d-9b93-4947010bc7c0
        port: null
        path: ''
        domain:
          guid: b7c54fbb-d292-4aff-a48c-efb86ba3a93a
          name: tltranstudentvunl-dev.apic.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: b7c54fbb-d292-4aff-a48c-efb86ba3a93a
        name: tltranstudentvunl-dev.apic.mybluemix.net
        owning_organization_guid: 379c4ff1-f1ef-4aba-a954-b211ca595fdf
      - guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
        name: mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: 2d230889-cfa1-48be-8927-1e22210a6903
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.12.2, buildpack-v3.17-20180105-1100)'
    detected_buildpack_guid: ec7a268b-3c6a-4132-a3ce-096b8a53c5cf
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: f5d46d8b-e38c-4710-b51c-21fb78894c18
    command: null
    console: true
    debug: null
    staging_task_id: 70c7b871-a529-4e5f-b399-5d170c2137e8
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    health_check_http_endpoint: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2018-01-22T17:06:46Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    ports: null
id: b6f9fdd7-6477-4135-a64c-9034d8322fd9
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
publishProducts: true
workspaceDir:
  path: /Users/konradkaras/Documents/GitHub/DS4C_CLOUDANT_API/api-cloudant
